<a href="https://colab.research.google.com/github/rogantan/Analytics/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    'Name': ['Andrey', 'Alex', 'Liza', 'Roman', 'Danil'],
    'Age': [28, 54, 37, 12, 35],
    'City': ['Warshava', 'Novosibirsk', 'Barnaul', 'Kemerovo', 'Novosibirsk']
}

df = pd.DataFrame(data)

print(df)
print(df['Name'])
print(df.loc[0])
print(df[df['Age'] > 30])
print(df.head())
print(df.tail())
print(df.describe())
print(df.info())

     Name  Age         City
0  Andrey   28     Warshava
1    Alex   54  Novosibirsk
2    Liza   37      Barnaul
3   Roman   12     Kemerovo
4   Danil   35  Novosibirsk
0    Andrey
1      Alex
2      Liza
3     Roman
4     Danil
Name: Name, dtype: object
Name      Andrey
Age           28
City    Warshava
Name: 0, dtype: object
    Name  Age         City
1   Alex   54  Novosibirsk
2   Liza   37      Barnaul
4  Danil   35  Novosibirsk
     Name  Age         City
0  Andrey   28     Warshava
1    Alex   54  Novosibirsk
2    Liza   37      Barnaul
3   Roman   12     Kemerovo
4   Danil   35  Novosibirsk
     Name  Age         City
0  Andrey   28     Warshava
1    Alex   54  Novosibirsk
2    Liza   37      Barnaul
3   Roman   12     Kemerovo
4   Danil   35  Novosibirsk
             Age
count   5.000000
mean   33.200000
std    15.221695
min    12.000000
25%    28.000000
50%    35.000000
75%    37.000000
max    54.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None

In [ ]:
df = pd.read_csv('/content/inputDataUsers.csv')
# print(df.head())

filtered_df = df[df['type'] == 'Заказчик']
print(filtered_df)

   userID                          fio        phone   login password      type
5       6     Овчинников Фёдор Никитич  89219567849  login6    pass6  Заказчик
6       7      Петров Никита Артёмович  89219567841  login7    pass7  Заказчик
7       8  Ковалева Софья Владимировна  89219567842  login8    pass8  Заказчик
8       9    Кузнецов Сергей Матвеевич  89219567843  login9    pass9  Заказчик

In [ ]:
data = {
    'Name': ['Andrey', 'Alex', 'Liza', 'Roman', 'Danil'],
    'Age': [28, 54, None, 12, 35],
    'City': ['Warshava', None, 'Barnaul', 'Kemerovo', 'Novosibirsk']
}

df = pd.DataFrame(data)
df.fillna(0, inplace=True)
# df.dropna(inplace=True)

# df.drop_duplicates(inplace=True)
df['Age'] = df['Age'].astype(int)
print(df)

     Name  Age         City
0  Andrey   28     Warshava
1    Alex   54            0
2    Liza    0      Barnaul
3   Roman   12     Kemerovo
4   Danil   35  Novosibirsk

Данные с csv_файла

In [ ]:
df = pd.read_csv('/content/data.csv')
print("Данные из файла:")

df['Views'] = df['Views'].fillna(df['Views'].mean())
df['Revenue'] = df['Revenue'].fillna(0)
df.drop_duplicates(inplace=True)
df['Views'] = df['Views'].astype(int)
df['Revenue'] = df['Revenue'].astype(int)
df['Date'] = pd.to_datetime(df['Date'])
print(df)
print("Описание данных:")
print(df.describe())

filtered_youtube = df[df['Platform'] == 'YouTube']
print(filtered_youtube)

grouped = df.groupby('Date').agg({'Views': 'sum', 'Revenue': 'sum'}).reset_index()
print(grouped)

mean_views = grouped['Views'].mean()
mean_revenues = grouped['Revenue'].mean()
print(f"Средние просмотры: {mean_views}")
print(f"Среднее доходы: {mean_revenues}")

Данные из файла:
        Date   Platform  Views  Revenue
0 2023-01-01    YouTube   1000      500
1 2023-01-02    YouTube   1500      750
2 2023-01-03   Facebook   1200      600
3 2023-01-04    YouTube   1800      900
4 2023-01-05   Facebook   1100      550
5 2023-01-06    YouTube   1437        0
6 2023-01-07  Instagram   2000     1000
7 2023-01-08   Facebook   1300      650
8 2023-01-09  Instagram   1437        0
9 2023-01-10    YouTube   1600      800
Описание данных:
                      Date        Views      Revenue
count                   10    10.000000    10.000000
mean   2023-01-05 12:00:00  1437.400000   575.000000
min    2023-01-01 00:00:00  1000.000000     0.000000
25%    2023-01-03 06:00:00  1225.000000   512.500000
50%    2023-01-05 12:00:00  1437.000000   625.000000
75%    2023-01-07 18:00:00  1575.000000   787.500000
max    2023-01-10 00:00:00  2000.000000  1000.000000
std                    NaN   308.895955   340.138861
        Date Platform  Views  Revenue
0 2023-01-01  YouTube   1000      500
1 2023-01-02  YouTube   1500      750
3 2023-01-04  YouTube   1800      900
5 2023-01-06  YouTube   1437        0
9 2023-01-10  YouTube   1600      800
        Date  Views  Revenue
0 2023-01-01   1000      500
1 2023-01-02   1500      750
2 2023-01-03   1200      600
3 2023-01-04   1800      900
4 2023-01-05   1100      550
5 2023-01-06   1437        0
6 2023-01-07   2000     1000
7 2023-01-08   1300      650
8 2023-01-09   1437        0
9 2023-01-10   1600      800
Средние просмотры: 1437.4
Среднее доходы: 575.0